[submodule "deps/c-argparser/repo"]
	path = deps/c-argparser/repo
	url = https://github.com/Phytolizer/c-argparser
[submodule "deps/linenoise/repo"]
	path = deps/linenoise/repo
	url = https://github.com/Phytolizer/linenoise.git
    branch = fix/segv-empty-line
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/Phytolizer/uthash.git
	branch = cmake
